/*-- scss:rules --*/
  
  /* Set beige background */
  body {
    background-color: #cfc8b8;  /* light beige */
  }

/* Set maroon navbar */
  .navbar {
    background-color: #ba6d29 !important;  /* maroon */
  }

/* Set navbar text color */
  .navbar a,
.navbar-brand {
  color: #ffffff !important;  /* white text */
}